set dotenv-load

# Build app by running bootJar dependencies
build:
  ./gradlew resolveMainClassName

# Run app
run: build
  ./gradlew bootRun

# Run database in docker
db-up:
  docker compose up database -d --wait

# Build docker image
docker-build: build
  docker compose build

# Run app in docker
docker-up: docker-build
  docker compose up -d --wait

# Stop and remove docker containers
docker-down:
  docker compose down

# Stop and remove docker containers, names volumes and local images
docker-clean:
  docker compose down --volumes --rmi local

# Run sh shell in docker
docker-shell:
  docker exec -it $PROJECT_NAME-app sh 

# Clean up build, docker container and image
clean: docker-clean
  ./gradlew clean