version: "3.9"

services:
  
  app:
    container_name: "${PROJECT_NAME}-app"
    build:
      context: ./
      dockerfile: docker/app/Dockerfile
    environment:
      - DATABASE_HOST=database
      - DATABASE_PORT=3306
    env_file: .env
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    healthcheck:
      test: curl --request GET 'http://127.0.0.1:${SERVER_PORT}/actuator/health'
      interval: 2s
      timeout: 2s
      retries: 6
      start_period: 14s
    depends_on:
      database:
        condition: service_healthy
  
  database:
    container_name: "${PROJECT_NAME}-database"
    image: mysql:8.0
    env_file: .env
    ports:
      - "${DATABASE_PORT}:3306"
    volumes:
      - ./docker/database/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
      - data-volume:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "127.0.0.1" ]
      timeout: 2s
      interval: 2s
      retries: 6
      start_period: 10s

volumes:
  data-volume: